:root{
    --main-text-color: #FF7A00;
    --background-color: #fffcc5;
}

body{
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}
.ellipse-background{
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 200px;
}
/* ***************************************************************button****************************************** */

.buttons a{
    background-color: var(--main-text-color);
    text-decoration: none;
    border-radius: 25px;
    padding: 10px;
    color: #fff;
    width: 145px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
.buttons a:hover{
    background-color: #fff;
    color: var(--main-text-color);
    cursor: pointer;
    transition: 1s;
    -webkit-transform: none;
    transform: none;
}
/* ***************************************************************navbar****************************************** */
.navbar-toggler-icon{
    background-color: black;
}
.nav-link{
    color: black;
}
.navbar-nav{
    justify-content: space-around;
    align-items: center;
}
/* ****************************************************************1st Banner*************************************** */
.heading{
    color: var(--main-text-color);
    font-size: 56px;
}
.peragraph{
    font-size: 20px;
    padding: 0%;
    margin: 0%;
}
.instrumental-img {
    width: 600px;
    height: 400px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    
}
/* ***************************************************************second pera****************************************** */
.second-head{
    font-size: 40px;
    text-align: center;
    color: var(--main-text-color);
    font-weight: bold;
}
.second-pera{
    text-align: center;
}
.logo i{
    font-size: 30px;
    color: var(--main-text-color);
    align-items: center;
}
/* ***************************************************************Statistics****************************************** */
.question-answer{
padding-left: 40px;
}
.question{
    color: var(--main-text-color);
    font-weight: bold;
    font-size: 35px;
}
.answer{
    font-size: 20px;
}
.answer i{
    color: var(--main-text-color);
    padding-right: 12px;
}
.logo1 i{
    font-size: 50px;
    color: var(--main-text-color);
    align-items: center;
}
.logo1{
    display: flex;
    justify-content: center;
}
.logo1 p{
    font-size: 15px;
}
.icon-text{
    color: var(--main-text-color);
    font-size: 20px;
    padding-left: 10px;
}
.icon-text p{
    color: #000;
}
.survey{
    align-items: center;
}

/* ***************************************************************prevent section****************************************** */
.prevent-css{
    background-color: var(--background-color) ;
    height: fit-content;
    padding: 20px;
}
/* ***************************************************************prevent section left side****************************************** */
.prevent-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 220px;
    height: 270px;
}
.card-text h6{
    color: var(--main-text-color);
    padding: 10px 10px 0px 10px;
    padding-bottom: 0%;
    font-size: 18px;
    font-weight: 400;
}
.card-text p{
    padding: 0px 10px 10px 10px;
    font-size: 16px;
}
.icon{
    background-color:#F0ECF9;
    ;
    font-size: 30px;
    height: 40%;
    text-align: center;
    padding: 40px 0px 20px 0px;
}
.icon i{
    color: var(--main-text-color);
}
/* ***************************************************************potect****************************************** */
.protect-sub-head{
    color: var(--main-text-color);
    font-size: 25px;
    margin-top: 50px ;
}
.protect-pera p{
    font-size: 15px;
}
.answer1 i{
    color: var(--main-text-color);
    padding-right: 10px;
}
.answer2 i{
    color: #ff0000;
    padding-right: 10px;
}
/* ***************************************************************Symptoms****************************************** */
.symptoms-space{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.symptoms-card{
    background-color: #fff;
    height: 100px;
    width: 290px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.symptoms-card  p{
font-size: 12px;
}
.symptoms-bottom{
    display:flex;
    text-align: center;
    justify-content:space-around;
    align-items:center;
    margin: 20px 0;
}
.symptoms-bottom div{
    font-size: 20px;
}
.helplineButton{
    background: crimson;
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 10px 30px;
}
/* ***************************************************Second Symptoms******************************************* */
.symptoms-css{
    padding: 20px;
}
.second-symptoms{
    padding: 48px 0px;
}
.date{
    position: relative;
}
.date p{
    background-color: var(--main-text-color);
    color: #fff;
    padding: 0px 10px 0px 10px;  
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  

}
.second-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.second-cards-col{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.admin{
    display: flex;
    justify-content: center;
}
.second-card-col-button{
    color: var(--main-text-color);
}
.second-card-col-button i{
    padding-right: 5px;
}
.second-cards img{
    width: 100%;
    height: 180px;
}
.second-card-pera{
    color: var(--main-text-color);
    text-align: center; 
    font-size: 22px;
}
/* ***************************************************About******************************************* */
.abouthead{
    font-size: 25px;
    font-weight: bold;
    color: var(--main-text-color);
    padding: 18px;
}
.aboutpera{
    padding: 18px;
    justify-content: space-around;
}
.about-icon{
    display: flex;
    justify-content: space-around;
    padding-top: 18px;
}
.fa-brands {
    font-size: 25px;
    color: var(--main-text-color);
}
.aboutpera .fa-solid {
    color: var(--main-text-color);
    padding-right: 10px;
}
/* ***************************************************Footer******************************************* */

footer{
    background-color: var(--main-text-color);
    padding: 10px;
    text-align: center;
    color: #fff;
    
}
footer a{
    color: #fff;
    font-weight: bold;
}
/* ***************************************************Media querry******************************************* */

@media(max-width: 720px){
    .instrumental {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .instrumental-img{
        margin: 0%;
        width: 320px;
        height: 280px;
    }
}